/* ipad */
/* 1280 / 1024 */
@media screen and (max-width:1280px){
    html{
        font-size: 8px;
    }
}
@media screen and (max-width:980px){
    /* 1. 제거하기 */
    header{
        z-index: 1000000;
        /* .main-menu, */
        .header-right{
            display: none;
        }
        .header-left{
            top: -50%;
            transform: translateY(40%);
            line-height: 56px;
        }
        nav{
            background: rgba(0, 0, 0, 0.2);
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: -110vw;
        }
        .main-menu{
            display: block;
            max-width: 640px;
            min-width: 320px;
            background: #ef4da2;
            height: 100%;
        }
        .main-menu:hover .depth1{
            display: none;
        }
        .main-menu>li:hover .depth1{
            height:unset;
            display: block;
        }
        .depth1{
            display: none;
            position: static;
            height: auto;
            transform: translateX(0);
            text-indent: 40px;
        }
    }
    address,
    .company-info{
        display: none;
    }
    main{
        overflow: hidden;
    }
    /* 2. 보이기 */
    /* 3. 100% 만들기 */
    /* main-slider */
    .main-slider>div .text-box{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .main-slider>div .text-box .slider-title{
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    .main-slider>div .text-box .explication{
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        font-weight: 800;
    }
    /* shop by category */
    .category-list{
        flex-wrap: wrap;
        gap: 20px;
    }
    .category-list>div{
        flex: calc(100% / 3 - 13.6px);    
        &:first-child,
        &:nth-of-type(2){
            flex: calc(100% / 2 - 10px);
        }
    }
    /* make your own */
    /* loved by */
    .loved-by-list-bottom{
        flex-wrap: wrap;
        gap: 2rem;
    }
    .loved-by-list-bottom .loved{
        flex: calc(100% / 2 - 10px);
    }
    .loved-by-list-top{
        width: calc(100% * 3 / 1.3);
        gap: 2rem;
    }
    /* new-in */
    .new-in-wrap .outline-title{
        margin-bottom: 0;
    }
    .new-in-wrap .new-item-img{
        position: static;
        width: 60%;
        transform: unset;
    }
    .arrow-list{
        position: absolute;
        right: 2.5%;
        bottom: 10rem;
    }
    /* summer sorted */
    .sunshade-list{
        width: calc(100% * 4 / 1.7);
        gap: 2rem;
    }
    /* catalogue */
    .catalogue-list{
        width: calc(100% * 3 / 1.3);
        gap: 2rem;
    }
    /* footer */
    footer{
        .footer-top{
            .footer-menu{
                width: 100%;
                justify-content: space-between;
                line-height: 2;
                >li:nth-child(2n){
                    text-align: right;
                }
            }
        }
    }
}
/* mobile */
/* 768px / 320, 360, 480, 640px */
@media screen and (max-width:768px){
    .logo img{
        width: 120px;
    }
    .ham-img{
        width: 24px;
    }
    .main-slider{
        height: 130vw;
    }
    .main-slider>div{
        height: 100%;
        .img-box img{
            height: 100%;
            object-fit: cover;
        }
    }
    .main-slider>div .text-box{
        width: 100%;
    }
    .main-slider>div .text-box .shop-now-btn>a{
        padding: 1rem 3rem;
        font-size: 1.6rem;
    }
    .main-slider-wrap .slider-pager{
        left: 0;
        width: 100%;
        bottom: 20px;
        gap: 10px;
    }
    .container{
        margin-top: 50px;
    }
    .container section{
        margin-bottom: 50px;
    }
    .container .section-title{
        font-size: 4rem;
        margin-bottom: 4rem;
    }
    .make-your-wrap .make-your .text-box{
        width: 100%;
        top: 220px;
    }
    .make-your .text-box .slider-title{
        font-size: 4rem;
    }
    .make-your-wrap .make-your .img-box{
        min-height: 40dvh;
    }
    .make-your .text-box .lets-btn{
        padding: 1rem 3rem;
        font-size: 1.6rem;
    }
    .new-in-wrap .outline-title{
        font-size: 6rem;
    }
    .new-in-wrap .shop-now-btn>a{
        padding: 1rem 3rem;
        font-size: 1.6rem;
    }
    .arrow-list>li>a{
        padding: 0.6rem 3rem;
    }
     .tab-menu-list{
        font-size: 1.75rem;
        gap: 2rem;
     }
     .catalogue-list>div .thumb-img{
        gap: 0;
     }
     .footer-bottom{
        gap: 0;
     }
}